body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  width: 1440px;
  margin: 0 auto;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1158px;
  margin: 0 auto;
}

section {
  padding: 0 15px;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
header .header-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}
header .header-div .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header-div .header-nav .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 76px;
  margin-right: 332px;
  gap: 40px;
}
header .header-div .header-nav .header-list .header-menu-list-properties {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
header .header-div .header-nav .header-list .header-menu-list-properties:hover, header .header-div .header-nav .header-list .header-menu-list-properties:focus {
  color: #404bbf;
}
header .header-div .header-nav .header-logo-main {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
header .header-div .header-nav .header-logo-main .header-logo-part {
  color: #2e2f42;
}
header .header-div .header-contacts {
  font-style: normal;
}
header .header-div .header-contacts .header-contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
header .header-div .header-contacts .header-contacts-list .contacts-link {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
header .header-div .header-contacts .header-contacts-list .contacts-link:hover, header .header-div .header-contacts .header-contacts-list .contacts-link:focus {
  color: #404bbf;
}

.footer-main {
  background-color: #2e2f42;
  padding: 0 15px;
}
.footer-main .footer-logo-main {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer-main .footer-logo-main .footer-logo-part {
  color: #f4f4fd;
}
.footer-main .footer-text {
  font-size: 16px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.h-one {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.h-two {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
}

.goal-p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.h-three {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.h-two-portfolio {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.main-button:hover, .main-button:focus {
  background-color: #404bbf;
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #f4f4fd;
  color: #4d5ae5;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.portfolio-button:hover, .portfolio-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.welcome-page {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */